<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3-week03-homework-v2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <style>
        a {
            text-decoration: none;
        }

        .status {
            padding: 5px 10px;
        }

        .status.selected {
            background: #000;
            color: #fff;
        }

        .completed {
            text-decoration: line-through
        }
    </style>
</head>

<body>
    <div id="app">
        <h1 class="h3 text-center">{{ localName }}</h1>
        <div id="app" class="container my-3">
            <div class="input-group mb-3">
                <span class="input-group-text">待辦事項</span>
                <input type="text" class="form-control" placeholder="準備要做的任務" id="newTodo" v-model="newTodo" @keyup.enter="addTodo()">
                <button class="btn btn-primary" type="button" id="addTodo" @click="addTodo()">新增</button>
            </div>
            <div class="card text-center">
                <div class="card-header d-flex justify-content-between">
                    <span>有 <span id="taskCount">{{ todoList.length }}</span> 筆任務</span>
                    <div>
                        <a href="#" class="me-3 status rounded-pill" :class="status == 'all' ? 'selected' : ''"
                            @click.prevent="status = 'all'">全部</a>
                        <a href="#" class="me-3 status rounded-pill" :class="status == 'undone' ? 'selected' : ''"
                            @click.prevent="status = 'undone'">未完成</a>
                        <a href="#" class="me-3 status rounded-pill" :class="status == 'done' ? 'selected' : ''"
                            @click.prevent="status = 'done'">已完成</a>
                        <a href="#" @click.prevent="clearTodo">清除所有任務</a>
                    </div>
                </div>
                <ul class="list-group list-group-flush text-left" id="todoList">
                    <li class="list-group-item" v-if="todoList.length == 0">
                        目前沒有待辦
                    </li>
                    <li class="list-group-item" v-for="item in filterTodo" :key="item.Id">
                        <div class="d-flex" v-if="item.Id !== editingItem.Id">
                            <div class="form-check">
                                <input :id="item.Id" type="checkbox" class="form-check-input" :checked="item.done"
                                    @click="item.done = !item.done;">
                                <label :for="item.Id" @dblclick="editTodo(item)" :class="item.done ? 'completed' : ''">
                                    {{ `${item.Content} ${item.done ? '(已完成)' : ''}` }}
                                </label>
                            </div>
                            <button type="button" class="btn-close ms-auto remove" @click="removeTodo(item)">
                            </button>
                        </div>
                        <div class="d-flex" v-if="item.Id === editingItem.Id">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="編輯" v-model="editingItem.Content"
                                    @keyup.enter="confirmTodo" @keyup.esc="cancelTodo" />
                                <button type="button" class="btn btn-primary" @click="confirmTodo">確定</button>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="list-group-item">
            <div class="d-flex">
              <div class="form-check">
                <div>
                  <input id="b" type="checkbox" class="form-check-input" checked>
                  <label for="b" class="completed">已完成 代辦事項</label>
                </div>
              </div>
              <button type="button" class="btn-close ms-auto remove">
              </button>
            </div>
          </li> -->
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script type="module">
        console.clear();

        import { createApp, ref, computed, onMounted, watch } from 'https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.0-beta.7/vue.esm-browser.min.js'

        const app = createApp({
            setup() {
                const newTodo = ref('');
                const status = ref('all');
                const localName = ref('vue3-week04-homework');
                const todoList = ref([]);
                const editingItem = ref({
                    Id: '',
                    Content: ''
                });

                const addTodo = () => {
                    todoList.value.push({
                        Id: todoList.value.length,
                        Content: newTodo.value,
                        done: false
                    });
                    newTodo.value = '';
                }

                const removeTodo = (item) => {
                    const i = todoList.value.findIndex(obj => obj.Id === item.Id);
                    todoList.value.splice(i, 1);
                }


                const editTodo = (item) => {
                    editingItem.value.Id = item.Id;
                    editingItem.value.Content = item.Content;
                }

                const confirmTodo = () => {
                    const i = todoList.value.findIndex(obj => obj.Id === this.editingItem.Id);
                    todoList.value[i].Content = editingItem.value.Content;
                    editingItem.value.Id = '';
                    editingItem.value.Content = '';
                }

                const cancelTodo = () => {
                    editingItem.value.Id = '';
                    editingItem.value.Content = '';
                }

                const clearTodo = () => {
                    todoList.value = [];
                }

                const filterTodo = computed(() => {
                    // status: all, undone, done
                    switch (status.value) {
                        case 'all':
                            return todoList.value;
                        case 'undone':
                            return todoList.value.filter(obj => !obj.done);
                        case 'done':
                            return todoList.value.filter(obj => obj.done);
                    }
                });

                const loadData = onMounted(() => {
                    let data = window.localStorage.getItem(localName.value);
                    if (!data) { todoList.value = []; }
                    else { todoList.value = JSON.parse(data); }
                });

                watch(
                    todoList,
                    () => {
                        localStorage.setItem(localName.value, 
                            JSON.stringify(todoList.value));
                    },
                    { deep: true } // 當欲觀察值的特性為 call by reference，需將 deep 值設定為 true
                );

                return {
                    newTodo,
                    status,
                    localName,
                    todoList,
                    addTodo,
                    removeTodo,
                    editingItem,
                    editTodo,
                    confirmTodo,
                    cancelTodo,
                    clearTodo,
                    filterTodo,

                }
            }
        });
        app.mount("#app");
    </script>
</body>

</html>